/* Rectangle 1 */


box-sizing: border-box;

position: absolute;
width: 500px;
height: 58px;
left: 558px;
top: 282px;

background: #D9D9D9;
border: 1px solid #000000;
border-radius: 5px;


/* Rectangle 2 */


box-sizing: border-box;

position: absolute;
width: 500px;
height: 58px;
left: 557px;
top: 371px;

background: #D9D9D9;
border: 1px solid #000000;
border-radius: 5px;


/* Rectangle 3 */


box-sizing: border-box;

position: absolute;
width: 500px;
height: 58px;
left: 557px;
top: 458px;

background: #D9D9D9;
border: 1px solid #000000;
border-radius: 5px;


/* Rectangle 4 */


box-sizing: border-box;

position: absolute;
width: 500px;
height: 58px;
left: 558px;
top: 547px;

background: #D9D9D9;
border: 1px solid #000000;
border-radius: 5px;


/* Rectangle 5 */


box-sizing: border-box;

position: absolute;
width: 500px;
height: 58px;
left: 557px;
top: 635px;

background: #D9D9D9;
border: 1px solid #000000;
border-radius: 5px;


/* Rectangle 6 */


box-sizing: border-box;

position: absolute;
width: 500px;
height: 58px;
left: 557px;
top: 251px;

background: #D9D9D9;
border: 1px solid #000000;
border-radius: 5px;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Rectangle 7 */


position: absolute;
width: 262px;
height: 58px;
left: 672px;
top: 743px;

background: #D9D9D9;
border-radius: 33px;


/* Register */


position: absolute;
width: 125px;
height: 39px;
left: 736px;
top: 752px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #000000;



/* First name: */


position: absolute;
width: 168px;
height: 39px;
left: 369px;
top: 203px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #000000;



/* Last name: */


position: absolute;
width: 166px;
height: 39px;
left: 372px;
top: 287px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #000000;



/* Username: */


position: absolute;
width: 163px;
height: 39px;
left: 376px;
top: 381px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #000000;



/* Email: */


position: absolute;
width: 89px;
height: 39px;
left: 453px;
top: 468px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #000000;



/* Gender: */


position: absolute;
width: 121px;
height: 39px;
left: 422px;
top: 556px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #000000;



/* Password: */


position: absolute;
width: 157px;
height: 39px;
left: 387px;
top: 644px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #000000;



/* Create an account */


position: absolute;
width: 278px;
height: 78px;
left: 672px;
top: 115px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #000000;



/* Rectangle 8 */


box-sizing: border-box;

position: absolute;
width: 18px;
height: 17px;
left: 564px;
top: 710px;

background: #D9D9D9;
border: 1px solid #000000;


/* I agree to the terms and conditions */


position: absolute;
width: 546px;
height: 18px;
left: 594px;
top: 709px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #000000;