<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h3>Create an account</h3>
        <form method ='post'>
            {% csrf_token %}
            {{form.as_p}}
            <input type = "submit" value = "Register">
         </form>
         <h4>already have an account</h4><br>
         <a href = "{% url 'signin' %}">sign in here</a>
    </center>
    
</body>
</html>